body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: purple; /* Fundo roxo */
}

.container {
    text-align: center;
    color: white; /* Texto branco para melhor contraste */
}

.buttons {
    margin-top: 20px;
    position: relative; /* Adiciona position relative ao container dos botões */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#simBtn {
    position: static; /* Mantém o botão "Sim" no fluxo normal */
    margin-right: 10px; /* Adiciona margem à direita para separar os botões */
}

#naoBtn {
    position: absolute; /* Adiciona position absolute ao botão "Não" */
    max-width: 100px; /* Limita a largura máxima do botão "Não" */
    top: calc(50% - 20px); /* Ajusta a posição vertical para o centro */
    left: calc(50% + 10px); /* Ajusta a posição horizontal para o lado direito do "Sim" */
    transform: translate(-50%, -50%); /* Centraliza o botão "Não" */
}
