body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: purple; /* Fundo roxo */
}

.container {
    text-align: center;
    color: white; /* Texto branco para melhor contraste */
}

.buttons {
    margin-top: 20px;
    display: flex; /* Adiciona display flex para alinhar os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#naoBtn {
    margin-left: 10px; /* Adiciona margem à esquerda para separar os botões */
}
