body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: purple; /* Fundo roxo */
}

.container {
    text-align: center;
    color: white; /* Texto branco para melhor contraste */
}

.buttons {
    margin-top: 20px;
    position: relative; /* Adiciona position relative ao container dos botões */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

#naoBtn {
    position: absolute; /* Adiciona position absolute ao botão "Não" */
}
